/*background image*/
body {
	margin: 0px;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
	background-image: url('/images/starry_night.jpg');
}

/*grid*/
.col-xs-1{
  float: left;
  height: 5vh;
  width: 4vw;
  border: 1px solid silver;
  padding: 0px;
	margin: 0px;
	background-color: white;
}



#directions {
	background-color: yellow;
	padding-top: 10px;
}
